<!DOCTYPE html>
<html>
  <body>
    <!-- Page header -->
    <header class="page-header">
      <h1>Articles</h1>
    </header>

    <main>
      <div class="text-wrapper width-1026 center clearfix">
        <!-- Side Navigation -->
        <aside class="sidenav side-nav" style="border: 1px solid #eee">
          <!-- Article links -->
          <ul style="padding-left:0; list-style-type:none">
            {% assign categories = "updates" | split: "|" %}
            {% assign sub_Array = "website|book|gfx|test|sintel" | split: "|" %}

            <!-- Category links -->
            {% for category in categories %}
            {% assign temp = '' %}
            <li><h4>{{ category | capitalize }}</h4>
              <ul style="padding-left:1em; list-style-type:none">
                {% for sub in sub_Array %}
                  {% for post in posts %}
                    {% if post.category == category %}
                      {% if post.subcategory == sub %}
                        {% if temp != sub %}
                        <li><h5><a href=".{{ sub }}" style="color: #767676">{{ sub | capitalize }}</a></h5>
                        {% endif %}
                        {% assign temp = sub %}
                        <ul style="padding-left:1em; list-style-type:none">
                          <li class="{{ sub }} post-content"><h6><a href="/{{ post.path }}">{{ post.title }}</a></h6></li>
                        </ul>
                      {% elsif post.subcategory == '' %}
                        <li><h5><a href=".{{ post.date | date: "%B-%Y" }}" style="color: #222">{{ post.date | date: "%B %Y" }}</a></h5>
                        <ul style="padding-left:1em; list-style-type:none">
                          <li class="{{ post.date | date: "%B-%Y" }} post-content"><h6><a href="/{{ post.path }}">{{ post.title }}</a></h6></li>
                        </ul>
                       {% endif %}
                    {% endif %}
                  {% endfor %}
                 {% endfor %}
              </ul>
              <hr>
            </li>
            {% endfor %}
          </ul>
        </aside>
        <!-- Article -->
        <section style="border: 1px solid #eee">
          <!-- Thumbnail Article -->
          {% if category != 'videos' %}
            <div class="thumbnail-article-page">
              <img id="article-thumbnail" src="{{ thumbnail }}" alt="image"/>
            </div>
          {% else %}
            <iframe width="100%" height="386px"
              src=" https://www.youtube.com/embed/{{ video }}?autohide=1&modestbranding=1&showinfo=0&wmode=transparent&rel=0&fs=0" frameborder="0">
            </iframe>
          {% endif %}
          <!-- Title Article -->
          <h2 class="text-center" style="border: none; padding: 0; margin-bottom: 0">{{ title }}</h2>
          <!-- Date Article -->
          <div class="date-article center">Published on {{ date | date: "%e %b. %Y"}}</div>
          <hr>
          <article style="block">
            <!-- Contents Article -->
            {{ content }}
            <!-- Previous Article -->
            <!--
            {% if previous %}
            <div class="previous">
              <a href="{{ /previous.path }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous</a>
            </div>
            {% endif %}
            -->
            <!-- Next Article -->
            <!--
            {% if next %}
            <div class="next">
              <a href="{{ /next.path }}">Next <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </div>
            {% endif %}
          -->
          </article>
        </section>
      </div>
    </main>
  </body>
</html>
