<!DOCTYPE html>
<html>
  <body data-route={{route}}>

    <!-- Page header -->
    <header class="page-header">
      <i class="fa fa-bars toggle-menu" aria-hidden="true"></i>
      <h1>{{category | capitalize }}s</h1>
    </header>

    <main>
      <div class="text-wrapper center clearfix">
        <!-- Side Navigation -->
        <aside class="sidenav side-nav">
          <!-- Article links -->
          <ul style="list-style-type:none">
            <!-- Update links -->
            <li class="active"><a href="#updates"</a><h4 style="padding-bottom: 0.5em">Updates</h4>
              <ul id="updates" style="padding-left:0; list-style-type:none" class="post-content">
                {% for post in posts %}
                  {% if post.category == "update" %}
                  <li>
                    <h5><a href="/{{post.path}}">{{post.title}}</a></h5>
                  </li>
                  {% endif %}
                {% endfor %}
              </ul>
              <hr>
            </li>

            <!-- Tutorial links -->
            <li><a href="#tutorials"</a><h4 style="padding-bottom: 0.5em">Tutorials</h4>
              <ul id="tutorials" style="padding-left:0; list-style-type:none" class="post-content">
                {% for post in posts %}
                  {% if post.category == "tutorial"%}
                  <li>
                    <h5><a href="/{{post.path}}">{{post.title}}</a></h5>
                  </li>
                  {% endif %}
                {% endfor %}
              </ul>
              <hr>
            </li>

            <!-- Post links -->
            <li><a href="#posts"</a><h4 style="padding-bottom: 0.5em">Posts</h4>
              <ul id="posts" style="padding-left:0; list-style-type:none" class="post-content">
                {% for post in posts %}
                  {% if post.category == "post"%}
                  <li>
                    <h5><a href="/{{post.path}}">{{post.title}}</a></h5>
                  </li>
                  {% endif %}
                {% endfor %}
              </ul>
              <hr>
            </li>
          </ul>
        </aside>

        <!-- Article -->
        <section>
          <!-- Thumbnail Article -->
          <img src="{{thumbnail}}" alt="image" style="width: 100%"/>
          <!-- Title Article -->
          <h2 class="text-center" style="border: none; padding: 0; margin-bottom: 0">{{ title }}</h2>
          <!-- Date Article -->
          <div class="date-article center">Published on {{ date | date: "%u %b. %Y"}}</div>
          <article style="block">
            <!-- Contents Article -->
            {{ content }}

            <!-- Previous Article -->
            <div class="previous">
              <a href=""><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous</a>
            </div>

            <!-- Next Article -->
            <div class="next">
              <a href="">Next <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </div>

          </article>
        </section>
      </div>
    </main>
  </body>
</html>
