extends: default.liquid

title:   Articles
path:    articles/
route:   articles
---

<!-- Header page -->
<header class="page-header">
  <h1>Articles</h1>
</header>

<main>
  <!-- Tabs Navigation -->
  <div class="projecthead">
    <nav class="page-nav">
      <ul class="nav projecthead-nav" style="text-align: center">
        <li class="active"><a href=".tab-content">All</a></li>
        <li><a href="#updates">Updates</a></li>
        <li><a href="#tutorials">Tutorials</a></li>
        <li><a href="#posts">Posts</a></li>
      </ul>
    </nav>
  </div>

  <div class="text-wrapper center">
    <article id="updates" class="tab-content show">
      <!-- Heading thumbnails -->
      <h2 style="padding-left: 15px; margin-bottom: 1em">Updates</h2>

      <!-- Thumbnails  -->
      <div class="thumbnail-container clearfix">
        {% for post in posts %}
          {% if post.category == "update"%}
          <div class="thumbnail-crop">
            <div class="thumbnail-inner-row">
              <a href="/{{post.path}}">
                <img src="{{post.thumbnail}}" alt="image"/>
              </a>
            </div>
            <h4>
              <a href="/{{post.path}}">{{post.title}}</a>
            </h4>
            <p style="font-size: 12px; margin-bottom: 0.2em; color: #767676">
              Published on
              {{post.date | date: "%u %b. %Y"}}
            </p>
            <p style="font-size: 14px">
              {{ post.description }}
            </p>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <hr>
    </article>

    <article id="tutorials" class="tab-content show">
      <!-- Heading thumbnails -->
      <h2 style="padding-left: 15px; margin-bottom: 1em">Tutorials</h2>

      <!-- Thumbnails -->
      <div class="thumbnail-container clearfix">
        {% for post in posts %}
          {% if post.category == "tutorial"%}
          <div class="thumbnail-crop">
            <div class="thumbnail-inner-row">
              <a href="/{{post.path}}">
                <img src="{{post.thumbnail}}" alt="image"/>
              </a>
            </div>
            <h4>
              <a href="/{{post.path}}">{{post.title}}</a>
            </h4>
            <p style="font-size: 12px; margin-bottom: 0.2em; color: #767676">
              Published on
              {{post.date | date: "%u %b. %Y"}}
            </p>
            <p style="font-size: 14px">
              {{ post.description }}
            </p>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <hr>
    </article>

    <article id="posts" class="tab-content show">
      <!-- Heading thumbnails -->
      <h2 style="padding-left: 15px; margin-bottom: 1em">Posts</h2>

      <!-- Thumbnails -->
      <div class="thumbnail-container clearfix">
        {% for post in posts %}
          {% if post.category == "post"%}
          <div class="thumbnail-crop">
            <div class="thumbnail-inner-row">
              <a href="/{{post.path}}">
                <img src="{{post.thumbnail}}" alt="image"/>
              </a>
            </div>
            <h4>
              <a href="/{{post.path}}">{{post.title}}</a>
            </h4>
            <p style="font-size: 12px; margin-bottom: 0.2em; color: #767676">
              Published on
              {{post.date | date: "%u %b. %Y"}}
            </p>
            <p style="font-size: 14px">
              {{ post.description }}
            </p>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <hr>
    </article>
  </div>
</main>
