extends: default.liquid

title: Home
route: home
---

<!-- Cover Index -->
<div class="cover-container">
  <div class="cover center">
    <h1 class="cover-heading">Latest project</h1>
    <p class="lead">The Dutch translation of the Rust book.</p>
    <div class="button"><a href="/projects/rustbook" style="text-decoration: none"/>View</a></div>
  </div>
</div>

<main>
  <div class="text-wrapper width-1026 center">
    <article class="tab-content show">
      <!-- Heading thumbnails -->
      <h2 style="padding-left: 15px; margin-bottom: 0.5em;">Latest releases</h2>
      <!-- Thumbnails  -->
      <div style="display: table">
          {% for post in posts limit:8 %}
              <div class="thumbnail-crop get-category">
                <a data-article=".{{ post.category }}" href="/{{ post.path }}">
                  <div class="thumbnail-article">
                    <img src="{{ post.thumbnail }}" alt="image"/>
                  </div>
                </a>
                <h4>
                  <a data-article=".{{ post.category }}" href="/{{ post.path }}">{{ post.title }}</a>
                </h4>
                <p class="text-label">
                  Published on
                  {{ post.date | date: "%e %b. %Y" }}
                </p>
                <p style="font-size: 14px;">
                  {{ post.description }}
                </p>
                <div class="bottom-gradient"></div>
              </div>
        {% endfor %}
      </div>
    </article>
  </div>
</main>
