extends: default.liquid

title: Home
route: home
---

<!-- Cover Index -->
<div class="cover-container">
  <div class="cover center">
    <h1 class="cover-heading">Latest project</h1>
    <p class="lead">The Dutch translation of the Rust book.</p>
    <div class="button"><a href="/projects/rustbook" style="text-decoration: none"/>View</a></div>
  </div>
</div>

<main>
  <!-- categories -->
  {% assign categories = "updates" | split: "|" %}

  <div class="text-wrapper width-1026 center">
    {% for category in categories %}
    <article class="tab-content show" style="border: 1px solid #eee">
      <!-- Heading thumbnails -->
      <h2 style="padding-left: 15px; margin-bottom: 0.5em;">Recent {{ category }}</h2>
      <!-- Thumbnails  -->
      <div style="display: table">
          {% for post in posts %}
            {% if post.category == category %}
            <!-- Increment a value to hold the amount of posts -->
              <div class="thumbnail-crop">
                <a data-article=".{{ post.subcategory }}" href="/{{ post.path }}">
                  <div class="thumbnail-article">
                    <img src="{{ post.thumbnail }}" alt="image"/>
                  </div>
                </a>
                <h4>
                  <a data-article=".{{ post.subcategory }}" href="/{{ post.path }}">{{ post.title }}</a>
                </h4>
                <p class="text-label">
                  Published on
                  {{ post.date | date: "%e %b. %Y" }}
                </p>
                <p style="font-size: 14px;">
                  {{ post.description }}
                </p>
                <div class="bottom-gradient"></div>
              </div>
          {% endif%}
        {% endfor %}
      </div>
    </article>
    {% endfor %}
  </div>
</main>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98419831-1', 'auto');
  ga('send', 'pageview');

</script>
