extends: default.liquid

title:   Releases
path:    releases/
route:   releases
---

<!-- Header page -->
<header class="page-header">
  <h1>Releases</h1>
</header>

<main>
  <div class="text-wrapper width-750 center">
    <div class="text-block">
      <h2 style="margin-top: 0">Website</h2>
      {% for post in posts %}
        {% if post.category == "website"%}
          <h5 class="get-category">
            <span style="display:inline-block; width: 100px">{{post.date | date: "%e %b. %Y"}}</span>
            <a data-article=".{{ post.category }}" href="/{{post.path}}" style="display:inline-block; width: 150px">{{post.title}}</a>
            <span style="display: inline-block; width: 450px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ post.description }}</span>
          </h5>
          {% endif %}
      {% endfor %}
    </div>
    <div class="text-block">
      <h2 style="margin-top: 0">The Rust Book</h2>
      {% for post in posts %}
        {% if post.category == "book"%}
          <h5 class="get-category">
            <span style="display:inline-block; width: 100px">{{post.date | date: "%e %b. %Y"}}</span>
            <a data-article=".{{ post.category }}" href="/{{post.path}}" style="display:inline-block; width: 150px">{{post.title}}</a>
            <span style="display: inline-block; width: 450px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> {{ post.description }}</span>
          </h5>
          {% endif %}
      {% endfor %}
    </div>
  </div>
</main>
