extends: default.liquid

title:   Rust book
path:    projects/rustbook/
---

<!-- Page-header -->
<div class="project-cover">
  <header class="project-header">
    <img class="thumbnail-project" src="/assets/rust_logo.svg" alt="image"/>
    <h1>The Rust book</h1>
  </header>
</div>

<main>
  <!-- Project Navigation -->
    <header class="projecthead" style="text-align: center">
      <nav>
        <ul class="nav projecthead-nav">
          <li><a href="https://jeroencops.github.io/rust_boek/">Read</a></li>
          <li><a href="https://github.com/JeroenCops/rust_boek">Source</a></li>
        </ul>
      </nav>
    </header>

  <div class="text-wrapper width-1026 center" style="background-color: #fff; margin-top: 4em">
    <div class="text-block width-750 center">
      <div class="page-tag">Technologies used mdbook</div>
    </div>
    <div class="text-block width-750 center" style="font-size:18px; text-align: center">
      I started writing this book, because I wanted to learn Rust and also help the community in some way. So I translated the Rust book to Dutch.
      The book is generated with mdbook.
    </div>
    <div class="text-wrapper width-750 center clearfix">
      <div class="thumbnail-project-page" style="float:left">
        <img src="/images/Cargo-Logo.png" alt="image"/>
      </div>
      <div class="text-block width-50perc center-vertical" style="float: left; height: 288.56px">
        <div style="margin-bottom: 0.5em;">
        <h2 style="margin-top: 0">Cargo</h2>
        Cargo is a tool that Rustaceans use to help manage their Rust projects. Cargo manages three things: building our code,
        downloading the dependencies our code needs, and building those dependencies.
        </div>
        <a href="http://doc.crates.io/guide.html"/>Read Guide</a>
      </div>
      <div class="text-block width-50perc center-vertical" style="float: left; height: 288.56px">
        <h2 style="margin-top: 0">Crates.io</h2>
        Cargo is a tool that Rustaceans use to help manage their Rust projects. Cargo manages three things: building our code,
        downloading the dependencies our code needs, and building those dependencies.
      </div>
      <div class="thumbnail-project-page" style="float:left">
        <img src="/images/rust_project.png" alt="image"/>
      </div>
    </div>
    <div class="text-block width-750 center">
      <h2>Tools</h2>
      There are all sort of plugins avialable for different text editors.
    </div>
    <div class="text-block width-750 center">
      <h2 style="margin-top: 0">Releases notes</h2>
        {% for post in posts %}
          {% if post.category == "book" %}
            <h5 class="get-category">
              <span style="display:inline-block; width: 100px">{{post.date | date: "%e %b. %Y"}}</span>
              <a data-article=".{{ post.category }}" href="/{{post.path}}" style="display:inline-block; width: 150px">{{post.title}}</a>
              <span style="display: inline-block; width: 450px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ post.description }}</span>
            </h5>
          {% endif %}
        {% endfor %}
    </div>
  </div>
</main>
